/* Declaring Default Global Variables */

:root {
  --mainfontfamily: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
}

html {

}


body {
  font-family: var(--mainfontfamily);
  margin: 0;
  padding: 0;
}

div.mainLanding {
  /*background-image: url('img/barbell.jpg');*/
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('img/barbell.jpg');
  /* Full height */
  /*display: table-cell;*/
  display: block;

  overflow:auto;
  height: 90vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: #eeeeee;

  position: relative;
}

.centered {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
}

.centered h1 {
  font-size: 100px;
}

.centered h3 {
  font-size: 30px;
}

@media screen and (max-width: 1000px) {
  .centered h1 {
    font-size: 100px;
  }

  .centered h3{
    font-size: 40px;
  }
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 20px 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 50px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition-duration: 0.4s;
}

.button:hover{
  filter: brightness(75%);
}

@media screen and (max-width: 1200px) {
  .button {
    padding: 40px 64px;
    font-size: 40px;
  }
}

/* Second Section */

h2 {
  margin-top: 0px;
  padding-top: 30px;
  font-size: 45px;
}



@media screen and (max-width: 1200px) {
  h2 {
    font-size: 65px;
  }
}

.section2{
  text-align: center;
  background: #121212;
  color: #eeeeee;
  padding-bottom: 10px;
}

.text{
  width: 50%;
  line-height: 2em;
  margin:0 auto;
  margin-bottom: 1em;
  font-size: 20px;
}



@media screen and (max-width: 1200px) {
  .text {
    width: 70%;
    font-size: 30px;
  }
}

/* Third Section */

.section3{
  background: #e50000;
  color: #eeeeee;
  text-align: center;
}

.boxes{
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.boxes h3, p {
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
}

.boxes h3 {
  padding-top: 2em;
  color: #e60000;
  font-size: 30px;
}


@media screen and (max-width: 1200px) {
  .boxes h3 {
    padding-top: 1em;
    font-size: 45px;
  }
}

.boxes p {
  font-size: 20px;
}

@media screen and (max-width: 1200px) {
  .boxes p {
    margin-top: -15px;
    font-size: 30px;
  }
}

.box1, .box2, .box3, .box4{
	height:300px;
  background: black;
  margin-bottom: 20px;
}

/* Section 4 */

.section4{
  text-align: center;
  background: #121212;
  color: #eeeeee;
  padding-bottom: 10px;
}

.section4 img {
  height: auto;
  width: auto;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  /*float: left;*/
  display: inline-block;
  width: 33%;
  margin-bottom: 16px;
  padding: 0 8px;
}


@media screen and (max-width: 1200px) {
  .column {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.section4 p {
  font-size: 20px;
}


@media screen and (max-width: 1200px) {
  .section4 p {
    font-size: 30px;
  }
}

/*
img{
  border-radius: 50%;
  height: 500px;
  width: 500px;
  margin-top: 20px;
  margin-right: 100px;
}
*/
/*Section 5*/

.section5{
  text-align: center;
  background: #121212;
  color: #eeeeee;
  padding-bottom: 10px;
}

.button2 {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  margin: 50px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition-duration: 0.4s;
}

.button2:hover{
  filter: brightness(75%);
}

@media screen and (max-width: 1200px) {
  .button2{
    padding: 30px 64px;
    font-size: 60px;
  }
}

.section6{
  text-align: center;
  background: #121212;
  color: #eeeeee;
  padding-bottom: 10px;
  margin-top: -20px;
}

/*Section 6*/

.section6 p {
  text-align: center;
  font-size: 10px;
}

@media screen and (max-width: 1200px) {
  .section6 p {
    font-size: 10px;
  }
}

.section6 a {
  text-decoration: none;
  color: #e50000;
}
